<h1><%= @list.title %></h1>

<% if @list.tags.empty? %>
    <%= link_to "Add Tag", new_list_tag_path(@list) %>
<% else %>
        <% @list.tags.each do |tag| %>
        <p>Tag:<%= tag.title%>(<%= link_to "Edit", edit_list_tag_path(tag) %>)(<%= link_to "Delete", tag, method: :delete %>)(<%= link_to "Related Lists", "/search/#{tag.id}" %>)</p>
    <% end %>
<% end %>

<p><%= link_to "My Lists", lists_path %> </p>
<% if @cards.empty? %>
    <p>List empty:</p>
<% else %>
    <% @cards.each do |card| %>
        <%= link_to card.body, card_path(card) %>(<%= link_to "Edit", edit_card_path(card) %>)(<%= link_to "Delete", card, method: :delete %>)<br>
    <% end %>
<% end %>

<h3><%= link_to "Add Item", new_list_card_path(@list) %></h3>