<h1><%= @list.title %></h1>
<p><%= link_to "My Lists", lists_path %> </p>
<% if @cards.empty? %>
    <p>List empty:</p>
<% else %>
    <ul>
    <% @cards.each do |card| %>
        <li><%= link_to card.body, card_path(card) %>(<%= link_to "Edit", edit_card_path(card)  %>)</li>
    <% end %>
    </ul>
<% end %>

<h3><%= link_to "Add Item", new_list_card_path(@list) %></h3>