<h1>New List Item</h1>
<p>For: <%= link_to @card.list.title, list_path(@card.list) %> </p>
<%= form_for(@card) do |f| %>
    <label>Item body:</label><br>

    <%= f.hidden_field :list_id %>

    <%= f.text_field :body %><br>
    <%= f.submit  %>
<% end %>

<p><%= link_to "Cancel", list_path(@card.list) %> </p>
