<!DOCTYPE html>
<html>
  <head>
    <title>ListlyRailslistgenerator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css"
      integrity="sha256-a2tobsqlbgLsWs7ZVUGgP5IvWZsx8bTNQpzsqCSm5mk="
      crossorigin="anonymous"
    />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <h1 class="brand"><span>Listly</span></h1>
      <div class="wrapper">
        <div class="company-info">
          <%= render 'layouts/nav' %>

        </div>
        <div class="contact">
            <%= yield %>
        </div>
      </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
    <script src="main.js"></script>
  </body>
</html>
